################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/ideas
/X_data.pickle
/picklesImages
/debugImages
/manualMask
/clusterPerms.pickle
/imageMainFolder_output
/intermediateData
/inputFolder
/X_data - Copy.pickle
/inputFolder
/archives
/test
/.vs
/__pycache__
/test.7z
/post_tests/HFS 200 mT Series 4/sccm100-meanFix
/post_tests/testImgs
/post_tests/testImgs2
/post_tests/prob_ex/lr_graphs
/test_formats
