################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/ideas
/X_data.pickle
/picklesImages
/debugImages
/manualMask
/clusterPerms.pickle
/imageMainFolder_output
/intermediateData
/inputFolder
/X_data - Copy.pickle
/inputFolder
/archives

